
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd, ul {
  margin: 0;
}
html {
    scroll-behavior: smooth;
  }
  /* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

body {
    padding:0em;
    font-family: 'Outfit', sans-serif;
    text-rendering: optimizeSpeed;
    background:#d6e1ef;
    /* to stick the footer to the bottom */
    min-height: 100vh; 
    display:flex; flex-direction:column; 
}
h1, h2, h3, ul {
    padding:0;
}
h1 {
    font-size:1.313rem;
    line-height:1.7rem;
    font-weight:700;
    text-align:center; 
    color: hsl(218, 44%, 22%);
    padding:1.1rem;
}
p {
    font-size:0.9rem;
    line-height:1.2rem;
    text-align:center;
    font-weight:400;
    color:hsl(220, 15%, 55%);
    padding:0 1.1rem 1rem 1.1rem;
}
main {
    display:block;
    width:20rem;
    padding:1rem;
    margin:auto;
    background:white;
    border-radius: 1rem;
    box-shadow:0 0 1.875rem 0.625rem #cfdbe9;
}
main img.qrcode {
    width:18rem;
    height:auto;
    border-radius: 0.625rem;
}
footer {
  font-size: 0.688rem; text-align: center; 
}
  footer a { 
    color: hsl(228, 45%, 44%); 
  }
